*
!*/
node_modules/
!.gitignore
!README.md
!ARCHITECTURE.md
!index.html
!CNAME
!package.json
!package-lock.json
!tsconfig.json
!tsconfig.node.json
!vite.config.ts
!vitest.config.ts
!.env.example
!assets/*
!docs/*
!docs/**/*
!public/*
!samples/*
!src/*
!src/**/*
